{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AWSCloudTrailAclCheck20150319-4f7eca26-2a83-4e05-a6a1-75399fb3c342",
      "Effect": "Allow",
      "Principal": {
        "Service": "cloudtrail.amazonaws.com"
      },
      "Action": "s3:GetBucketAcl",
      "Resource": "${bucket_arn}",
      "Condition": {
        "StringEquals": {
          "AWS:SourceArn": "arn:aws:cloudtrail:sa-east-1:${account_id}:trail/${trail_name}"
        }
      }
    },
    {
      "Sid": "AWSCloudTrailWrite20150319-b70633a5-3ff1-4270-a6c6-4b6ce1e8c759",
      "Effect": "Allow",
      "Principal": {
        "Service": "cloudtrail.amazonaws.com"
      },
      "Action": "s3:PutObject",
      "Resource": "${bucket_arn}/AWSLogs/${account_id}/*",
      "Condition": {
        "StringEquals": {
          "s3:x-amz-acl": "bucket-owner-full-control",
          "AWS:SourceArn": "arn:aws:cloudtrail:sa-east-1:${account_id}:trail/${trail_name}"
        }
      }
    }
  ]
}
